mat-card{
    width: 75%;
    margin: 10px auto 10px auto;
    background-color: rgb(253, 253, 253);
}

#name, #username {
    text-align: initial;
}

#namecolor{
    color: #f44336;
}

#buttons{
    display: inline-block; text-align: center; margin: auto;
}

button{
    margin: 10px;
}

#authorized{
    margin-top: 15%;
}