<div class="container-1" >
  <form class="form-signin">

		<div class="logo">
			<img src="/assets/img/new.png" alt="Logo"/>
		</div>
		
		<div class="title">
			<h1>Project BloodLine</h1>
		</div>

		<div class="sign_in">
			<h2>Please sign in</h2>
		</div>

		<div  class="capture_form">
			<label class="w3-text-dark-gray"><b>Email</b></label>
  			<input class="w3-input w3-border w3-light-grey" type="text">

			<label class="w3-text-dark-gray"><b>Password</b></label>
			<input class="w3-input w3-border w3-light-grey" type="text">
		</div>
		
		<div class="checkbox">
			<input class="w3-check" type="checkbox">
			<label>&nbsp; Remember Me</label>
		</div>

		<div class="button1">
			<button class="w3-block w3-red w3-round w3-padding-large w3-border w3-border-red w3-round-large" type="submit">Log in</button>
		</div>
		<div  class="button1">
			<button class="w3-block w3-red w3-round w3-padding-large w3-border w3-border-red w3-round-large" type="button">Sign up</button>
		</div>
		<div  class="button1">
			<button class="w3-block w3-red w3-round w3-padding-large w3-border w3-border-red w3-round-large" type="button">Skip Step</button>
		</div>
		
  </form>
</div>