<div style="background-color: #0D3B66; height:100vh;">

    <div class="w3-content" style="padding-top: 10vh;">

        <div class="w3-card-4 w3-content" style="background-color:#F4D35E;" id='card'>
    
            <div class="w3-container w3-center">
                <h3 class="w3-opacity"><b>My Account</b> </h3>
                <img src="/assets/img/avatar.webp" alt="Avatar" style="width:80%">
                
                <div *ngIf="user; else placeholder">
                    <div class="w3-opacity"><b>Name: <h5><b>{{user.fName}} {{user.lName}}</b></h5></b></div>
                    <div class="w3-opacity"><b>Username: {{user.username}}</b></div>
                    <div class="w3-opacity"><b> Age: {{user.age}}</b></div>
                    <div class="w3-opacity"><b>Date of Birth: {{user.DOB}}</b></div>
                    <div class="w3-opacity"><b>Blood Group: {{user.bloodGroup}}</b></div>
                    <div class="w3-opacity"><b>Account Type: {{user.userType}}</b></div>
                    <div class="w3-opacity"><b>BloodCenter: {{user.bloodCentreId}}</b></div>    
                </div>

                <ng-template #placeholder>
                    <div class="w3-opacity"><h5><b>PLEASE LOG IN TO VIEW PROFILE</b></h5></div>
                </ng-template>
            </div>
    
        </div>
    </div>
    
</div>




