agm-map {
    height: 350px;
}

#stepper{
    padding: 20px 0px 0px 0px;
}

#heading{
    padding-top: 60px;
    font-size: 50px;
    color: #f44336;
}

mat-select{
    font-size: 20px;
}

#dateinput{
    display: none;
}

#centerSelect{
    width: 400px;
    margin-top: 10px;
}

#calander{
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
}

#checkbox{
    display: block;
    margin-bottom: 20px;
}

mat-card{
    width: 65%;
    margin: 10px auto 10px auto;
    background-color: rgb(253, 253, 253);
}