<header class="w3-container w3-red w3-center" style="display: block; margin-top: 30px;">
  <h1 class="w3-margin w3-jumbo w3-animate-opacity">Schedule Appointment</h1>
</header>

<div *ngIf="noAppointment">
<mat-vertical-stepper linear>
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>

  <!--Center Step-->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select Blood Donation Facility</ng-template>
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="9" [streetViewControl]='false' [restriction]="restriction">
        <agm-marker *ngFor="let marker of coordinates; let i = index" [latitude]="marker.latitude" [longitude]="marker.longitude" (markerClick)="setSelect(i)"></agm-marker>
      </agm-map>
      <mat-form-field id="centerSelect">
        <mat-select matNativeControl placeholder="Select Blood Donation Facility" formControlName="center" [(ngModel)]="selectedOption" required>
          <mat-option *ngFor="let center of centers" [value]="center.value">{{center.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  
  <!--Date Step-->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Select Date</ng-template>
      <mat-card id="calander">
        <mat-calendar [dateFilter]="dateFilter" [minDate]="minDate" [selected]="selectedDate" (selectedChange)="onSelectCalendar($event)"></mat-calendar>
      </mat-card>
      <mat-form-field id="dateinput">
        <input matInput formControlName="date" readonly="true" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <!--Time Step-->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Select Time</ng-template>
      <mat-form-field>
        <mat-select formControlName="time" required>
          <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <!--Done Step-->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-checkbox id="checkbox" (change)="changeCheck($event)" color="primary">I have not donated blood within the past 8 weeks.</mat-checkbox>
    <button [disabled]="disabledAgreement" mat-raised-button type="submit" color="primary" (click)="onSubmit()">Schedule Appoinment</button>
  </mat-step>
</mat-vertical-stepper>
</div>

<div *ngIf="hasAppointment">
  <div class="w3-opacity" style="margin-top: 10%;" *ngFor="let a of appointment">
    <mat-card *ngIf="a.status=='Scheduled'">
      <h1>Upcoming Appointment</h1>
      <h3>{{a.date}}</h3>
      <h3>{{a.time}}</h3>
      <h3>Status: {{a.status}}</h3>
      <button mat-raised-button color="primary" (click)="cancleAppointment()">Cancel</button>
    </mat-card>
  </div>
</div>

<div *ngIf="loading">
  <mat-spinner color="primary" style="margin: auto; margin-top: 10%;"></mat-spinner>
</div>