agm-map {
    height: 350px;
}

#stepper{
    padding: 20px 0px 0px 0px;
}

#heading{
    padding-top: 60px;
    font-size: 50px;
    color: #f44336;
}

mat-select{
    font-size: 20px;
}

#centerSelect{
    width: 400px;
    margin-top: 10px;
}

#calander{
    width: 350px;
    margin: auto;
}