<!--Navbar-->
<app-navbar></app-navbar>
  
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:110px 16px">
    <h1 class="w3-margin w3-jumbo w3-animate-opacity">Project BloodLine</h1>
    
    <div class="w3-xlarge w3-animate-opacity">By Team Impulse</div>
    <img class="w3-animate-opacity" src="./assets/img/heart.png" alt="heart" style="width:100%;max-width:100px;margin-top:10px;"/>
    <br/>
    <button class="w3-black w3-btn w3-round-xxlarge w3-xlarge" id="get-started">Donate</button>
</header>
  
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Whats all of this about?</h1>
            <h5 class="w3-padding-32"> 
                Project Bloodline is a web application which provides a 
                centralized platform for all blood donation operations within the country of Trinidad and Tobago. 
            </h5>

            <p class="w3-text-grey">
                According to the Ministry of Health Blood Transfusion Services within Trinidad and Tobago, 
                an average of 20,000 units of blood are donated annually by the local population. 
                This is well short of the recommended amount established by WHO which calculates to a required 65,000 units of blood per year. 
                It is our duty to serve our country and people by creating software that can optimize the process of donating blood 
                in order to incentivize and encourage those who are intimidated by the poorly structured process that is required to give blood.
                 Utilizing the current technological platforms and technologies that are available to us, 
                 we can also be able to raise awareness and provide essential details for possible blood donors in a centralized and easy to use format. 
                 In doing so we can be able to directly impact the amount of blood being donated per year which can result in the saving of human life. 
            </p>
        </div>

        <div class="w3-third w3-center">
            <img class="w3-round" src="./assets/img/1.jpg" id="blood-pack" alt="Blood Pack Image"/>
        </div>
    </div>
</div>
  
<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" >
    <div class="w3-content">

        <div class="w3-twothird">
            <h1>What can you do in Project BloodLine?</h1>

            <p class="w3-text-grey" id="data"> 
                You can set up a profile with your medical information in order to
                automate the registration and test stages required when donating blood. This
                application contains the basic information and FAQs about blood donation, and places to
                donate blood all while in the comfort of your own home even if you're being forced to stay inside.
                The application also provides you with the capability to schedule appointments with your favourite blood donation centre 
                and concurrently update their schedule on their preferred calendar software to ensure everything is prepped for your arrival.
            </p>
        </div>

        <div class="w3-third w3-center">
            <img class="w3-round" src="./assets/img/2.jpg" id="blood-donation" alt="Blood Donation Image"/>
        </div>

    </div>
</div>
  
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Don't let mosquitoes suck your blood, put it to good use. Donate blood and save a life</h1>
</div>
  
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
<div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
</div>

</footer>