<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" 
      routerLink ="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a routerLink ="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
      <a routerLink ="/Info" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Info</a>
      <a routerLink ="/scheduleappointment" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Book Appoinment</a>
      <a routerLink ="/manageappointment" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Manage Appointment</a>
      <a routerLink ="/Login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
      <a routerLink ="/ViewAccount" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">My Account</a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a routerLink ="/Info" class="w3-bar-item w3-button w3-padding-large">Info</a>
        <a routerLink ="/scheduleAppointment" class="w3-bar-item w3-button w3-padding-large">Book Appoinment</a>
        <a routerLink ="/manageappointment" class="w3-bar-item w3-button w3-padding-large">Manage Appointment</a>
        <a routerLink ="/MyAccount" class="w3-bar-item w3-button w3-padding-large">Login</a>
        <a routerLink ="/ViewAccount" class="w3-bar-item w3-button w3-padding-large">My Account</a>
    </div>
</div>

<!-- Header with image-->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    
    <div class="w3-display-left w3-center">
      <div class="w3-text-white w3-padding-large" id="title">Blood<br>Donation</div>
    </div>
    
</header>

  
<!-- Add a background color and large text to the whole page -->
<div class="w3-large" id="body">
  
  <!-- About Container -->
    <div class="w3-container " id="about">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Information</span></h5>
            <p>
                Blood Transfusion Services is overseen by the National Blood Transfusion Service (NBTS)
            </p>
            <hr>
            <h5 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Vision</span></h5>
            <p>
                The NBTS will be the National Coordinator for a safe, adequate, sustainable and equitable supply of blood and blood products, 
                based on 100% voluntary, non-remunerated blood donations within Trinidad and Tobago. 
            </p>
            <hr>
            <h5 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Mission</span></h5>
            <p>
                To transform the NBTS into the central reference centre for safe and adequate blood services 
                within an Integrated Blood Network that is based on 100% voluntary non-remunerated blood donations.
            </p>
            <br> 
            <p>
                The NBTS collects, screens and distributes a safe, adequate supply of blood and blood components 
                (such as plasma, red blood cells and platelets) to meet the medical needs of the country. 
                It is the only authorized blood collection agency in Trinidad and Tobago.
            </p>
            
            <div class="w3-card-4 w3-light-grey" style="margin-top: 50px; margin-bottom: 50px;">
                <header class="w3-container w3-black">
                  <h6>There are six (6) blood collection centres located at the major hospitals across Trinidad and Tobago and a Mobile Unit.</h6>
                </header>
                
                <div class="w3-container">
                    <table class="w3-table-all">
                        <thead>
                          <tr class="w3-red">
                            <th>Hospital</th>
                            <th>Address</th>
                          </tr>
                        </thead>
                        <tr>
                            <td>Port-of-Spain General Hospital </td>
                            <td>160 Charlotte Street, Port-of-Spain</td>

                        </tr>
                        <tr>
                            <td>Eric Williams Medical Sciences Complex</td>
                            <td>Uriah Butler Highway, Champs Fleurs</td>
                        </tr>
                        <tr>
                            <td>Sangre Grande Hospital</td>
                            <td>Ojoe Road, Sangre Grande</td>
                        </tr>
                        <tr>
                            <td>Scarborough General Hospital</td>
                            <td>Connector Road, Signal Hill, Scarborough, Tobago</td>
                        </tr>
                        <tr>
                            <td>San Fernando General Hospital</td>
                            <td>Paradise Pasture, Independence Avenue, San Fernando</td>
                        </tr>
                        <tr>
                            <td>Point Fortin Area Hospital</td>
                            <td>Volunteer Road, Mahaica Road, Point Fortin.</td>
                        </tr>
                      </table>
                  
                </div> 
            </div>
        </div>
    </div>
  

</div>
    
<div class="w3-row w3-light-grey">
    
    <div class="w3-col l4 mein">
        <img src="/assets/img/info-pic2.jpg" alt="blood-donation image" id="blood">
    </div>

    <div class="w3-col l8  w3-center">

        <div class="w3-tag w3-padding w3-round-large w3-red how-to">
            The following steps are involved in donating blood:
        </div>

        <br/>

        

        <ul class="w3-ul w3-hoverable">
            <li>Refer to the criteria listed below to ensure that you can donate blood.</li>
            <li>Visit any of the collection centres of the National Blood Transfusion Service.  Collection centre locations are listed in the “Where can I donate blood?” section below.</li>
            <li>You will be asked to fill out a Registration Form and an interview will be conducted.  For your own safety, you will be asked for information on your medical history and a mini-medical examination (weight, height, iron level, blood pressure, pulse, temperature) will be done.</li>
            <li>If you are selected to make a donation, your blood will be tested for certain infections before use, including HIV, viral hepatitis B and C, HTLV1, syphilis and Chagas' disease. You will be notified in the event of a positive result for any of these tests.  Your blood is also tested for haemoglobin concentration (commonly referred to as blood count) — the minimum blood count level for men is 13.5 and 12.5 for women.</li>
            <li>A nurse (trained phlebotomist) will draw your blood.</li>
            <li>There is a 15 minute mandatory rest period after giving blood before you are allowed to leave the centre.</li>
            <li>Please note that all blood is tested before it is used.  The entire donation process usually takes approximately two hours.  Regular voluntary donors are placed at the front of the queue for medical examination and withdrawal of blood and can complete the process in approximately 45 minutes.</li>
        </ul>

    </div>
</div>


<div class="container">

    <div class="w3-content">

        <div class="w3-tag w3-padding w3-round-large w3-red how-to w3-large">
            Health criteria for donating blood
        </div>

        <p>
            These guidelines are designed to ensure that blood recipients are protected from potentially harmful blood products, and that blood donors are protected from harm.  Only people in good health are accepted as blood donors.
        </p>

        <br/>

        



        <div class="w3-card-4">

            <header class="w3-container " style="background-color: #f6b6b0;">
              <h5>For your own safety, you should NOT give blood if:</h5>
            </header>
            
            <div class="w3-container">
                <ul class="w3-ul w3-hoverable">
                    <li>You have been prescribed medication for high blood pressure, diabetes, heart disease, fits or asthma.</li>
                    <li>You are a pilot or in any other service aircrew occupation.</li>
                    <li>You have an occupation where a delayed faint from donating blood could cause a hazard (such as a bus driver, heavy machine operator, etc.) UNLESS you will be off-duty immediately after your donation..</li>
                    
                </ul>
        
            </div>
            
            <footer class="w3-container" style="background-color: #f6b6b0;">
              
            </footer>
            
        </div>

        <br>

        <div class="w3-card-4">

            <header class="w3-container " style="background-color: #f6b6b0;">
              <h5>For the safety of others, you should NOT give blood if:</h5>
            </header>
            
            <div class="w3-container">
                <ul class="w3-ul w3-hoverable">
                    <li>You or your sexual partner (past or present) has AIDS or tested positive for HIV.</li>
                    <li>You are a man who has had sex with another man.</li>
                    <li>You have ever accepted payment for sex.</li>
                    <li>You have multiple sex partners.</li>
                    <li>You carry the hepatitis B or C virus.</li>
                    <li>You have ever injected drugs not prescribed by a doctor.</li>
                    <li>You are a haemophiliac who has received treatment with clotting factor concentrate.</li>
                    <li>You weigh less than 50kg.</li>
                    <li>You have donated blood within the previous 16 weeks.</li>
                    <li>You have donated blood three times in the previous year.</li>
                    <li>You are pregnant.</li>
                </ul>
            </div>
            
            <footer class="w3-container" style="background-color: #f6b6b0;">
              
            </footer>
            
        </div>

        <br>

        <div class="w3-card-4">

            <header class="w3-container" style="background-color: #f6b6b0;">
              <h5>You should not give blood for ONE YEAR if you have had sex with:</h5>
            </header>
            
            <div class="w3-container">
                <ul class="w3-ul w3-hoverable">
                    <li>A man who has had sex with a man (if you are a woman).</li>
                    <li>A prostitute.</li>
                    <li>A haemophiliac who has been treated with clotting factor concentrate.</li>
                    <li>A carrier of hepatitis B or C.</li>
                    <li>A person who has injected drugs not prescribed by a doctor.</li>
                </ul>
            </div>
            
            <footer class="w3-container" style="background-color:#f6b6b0;">
              
            </footer>
            
        </div>

        <br>

        <div class="w3-card-4">

            <header class="w3-container" style="background-color: #f6b6b0;">
              <h5>You should not give blood if you:</h5>
            </header>
            
            <div class="w3-container">
                <ul class="w3-ul w3-hoverable">
                    <li>Injured yourself with a needle or other sharp object contaminated with blood of another person.</li>
                    <li>Had acupuncture, tattooing, ear or skin-piercing, tissue or hair transplantation.</li>
                </ul>
            </div>
            
            <footer class="w3-container" style="background-color: #f6b6b0;">
              
            </footer>          
        </div>     

    </div>
    
</div>


<!-- Contact/Area Container-->
<div class="w3-container" id="where" style="padding-bottom:32px;">
    <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Where can I find more information?</span></h5>
        <p>Ministry of Health <br>

            Cor Park and Edward Streets <br>
            
            Port of Spain <br>
            
            Trinidad <br>
            
            Tel. (868) 627-0010 <br>
            
            Opening hours: 8:00 am to 4:00 pm, Monday to Friday except public holidays <br>
            
            <a href="http://www.health.gov.tt/"> Ministry of Health</a></p>
        
    </div>
</div>


<!-- Footer -->
<footer class="w3-center w3-red w3-padding-48 w3-large">

</footer>