header, div#body{
    font-family: "Inconsolata", sans-serif;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url('/assets/img/about-image.webp');
    
}

#blood{
    max-width: 100%;
    max-height: 100%;
}

.menu {
    display: none;
  }

@media only screen and (max-width:360px){
    .bgimg {
        height: 500px; 
    }

    #title{
        font-size:50px;
    }

   
    .how-to{
        margin-bottom: 30px;
    }

    ul li{
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media only screen and (min-width:360px){
    .bgimg {
        height: 500px; 
    }

    #title{
        font-size:50px;
    }

    .how-to{
        margin-bottom: 30px;
    }

    ul li{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width:700px){
    .bgimg {
        height: 500px; 
    }

    

    .how-to{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    

    #title{
        margin-top: 100px;
        margin-left: 100px;
        font-size:50px;
    }
}

@media only screen and (min-width:1200px){
    .bgimg {
        height: 500px; 
    }

    #title{
        margin-top: 100px;
        margin-left: 320px;
        font-size:80px;
    }
}